/*
 * MODULE:  O PADRAO REACT DE NOMEAR CLASS É: COMPONENT_CLASS_RAND
 *          Ex: import styles from 'Layout.module.css'
 *              <div classeName={styles.layout}> => Layout_layout_rthsk2 
*/

/* ID da div_root */
/* #root{
  /*AULA: GLOBAL CONFIG *
  height: 100%;
  width: 100%;
  position: fixed;
} */

/* CSS GRID*/
* {
  padding: 0;
  margin: 0;
}

header {
  grid-area: header;
}
aside {
  grid-area: navigation;
}
main {
  grid-area: content;
}
footer {
  grid-area: footer;
}

.layout {
  display: grid;
  min-height: 100vh; /*vh: height of viewport(página)*/
  /* overflow: auto; */
  grid-template-rows: 100px 1fr 185px;
  grid-template-columns: 220px 1fr;
  grid-template-areas:
    'header header'
    'navigation content'
    'footer footer';
}

.layout {
  background-color: antiquewhite;
}

.mainContent{
  background-color: var(--light-gray);
  padding: 0px;
}

/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .layout {
    background-color: rgb(173, 230, 181);
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .layout {
    background-color: rgb(221, 24, 228);
    grid-template-rows: 100px 1fr 185px;
    grid-template-columns: 100%;
    grid-template-areas: 'header' 'content' 'footer';
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
  .layout {
    background-color: rgb(228, 24, 24);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .layout {
    background-color: rgb(207, 173, 230);
  }
}
