.curriculumBox {
    padding: 2px;
}
.curriculumSinglepage {
    padding: 15px 15px;
    background-color: #e3e3e338;
}

/* Curriculo */
.curriculum {
    word-wrap: break-word;/*nao deixa o texto sair da div*/
}
.curriculum h2,
.curriculum h3,
.curriculum h4{
    font-size: 1.4rem;
}
/* Header */
.curriculumHeader{
    display: flex;
    flex-wrap: wrap;
    color: #b1d7ff;
}
.curriculumIcons{
    display: inline-flex;
    align-items: center;
}
.curriculumIcons small{
    font-size: 0.78rem;
}
.curriculumInfo {
    background-color: rgb(68 88 120);
}
.curriculumUpdate{
    font-size: 0.53rem;
    text-align: right;
}
.curriculumAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10%;
    background-color: #f5eeee;
}
.curriculumAvatar img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.curriculumSummary {
    background-color: #c6cace;
    color: #052442;
}

/* Body */
.curriculumBody {
    font-family: inherit;
    color: #434E5E;
}
.curriculum article {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
.curriculum article h3 {
    border-bottom: 1px solid #434E5E;
    font-size: 1.4rem;
}
.curriculum article small {
    font-size: 0.95rem;
}
/* Side */
.curriculumSide {
    background-color: #f0f0f0;
    color: #434E5E;
    text-align: left;
}
.curriculumSide .awards span {
    color: #cdad4e;
}
.curriculumSide h4{
    text-transform: capitalize;
}


/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
  
/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .curriculumAvatar{
        /* width: auto; */
        height: auto;
    }
    .curriculumAvatar img{
        max-width: 180px;
        max-height: 180px;
    }
    .curriculumHeader .userInfo{
        padding-right: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {    
}
  