footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray2);
}

/*Main Footer*/
.mainFooter {
    display: flex;
    flex: none;
    justify-content: space-around;
    align-items: initial;
    width: 100%;
    /* min-height: 79%; */
    padding: 10px;
    background-color: var(--dark-gray2);
}

.mainFooter h2 {
    min-height: 25px;
    font-size: .9em;
    line-height: inherit;
}

.mainFooter h6 {
    font-size: .67rem;
    margin: 1.0px;
}

/*Main Footer Company*/
.mainFooterCompany {
    width: 30%;
}

.mainFooterCompany .info {
    font-size: .67em;
    height: inherit;
}

/*Main Footer Content*/
.mainFooterContent {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    width: 50%;
}

/*Button Footer*/
.buttonFooter {
    display: flex;
    flex: none;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: var(--dark-purple);
    color: var(--white);
    /* position: relative;
    bottom: -18px; */
}

.buttonFooter span {
    padding: 7px 0;
    font-size: 0.62em;
}

/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .mainFooter h2{
        min-height: 40px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
    .mainFooter h6{
        margin: 0;
    }    
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    
}