.curriculumPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,
            transparent 0%, #26262657 40%), url(../../assets/img/back-office.jpg);
    background-repeat: round repeat;
}
.curriculumPage h1{
    margin: 20px 0 0 0 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #16171a;
    color: var(--secondary);
}
.backStatus{
    text-transform: capitalize;
    color: var(--online);
}



/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
  
/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .curriculumPage h1{
        font-size: 2.0rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {    
}
  