.logo {
    color: inherit;
}

.logo img {
    padding: 0 15px;
    width: 100%;
    border-radius: 16%;
}
.logo a{
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    background-color: #E7E7E7;
}
.logo a:hover{
    background-color: #c5c5c5;
}

@media(max-width: 576px) {
    .logo img {
        width: 350px;
    }
}