/*
 * COMMON:  OS NOMES_DAS_CLASS SERAO COMUNS. 
 *          Ex: import './index.css'
 *              <div classeName="sideMenu"> => .sideMenu
*/

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: var(--dark);
  color: inherit;
}

.sideMenu{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px 0;
}

aside img {
  width: 100%;
  height: 140px;
}

/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  aside {
    color: inherit;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  aside {
    display: none !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
  aside {
    display: none !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  aside {
    display: none !important;
  }
}