/* CSS COMMON */
@import url('./dividers.css');
@import url('./shadows.css');

.content{
    --bs-gutter-x: 0;/*anulando espaco-a-esquerda do: row (bootstrap)*/
    /* justify-content: space-between; */
    /* margin: 0 5px; */
    /* padding: 5px; */
}

.column {
    width: 23.5%;
    /* margin: 0 auto; */
}


/* QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .column {
        width: 31%;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .column {
        width: 47%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
    .column {
        width: 98%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .column {
        width: 98%;
    }
}
