/*** CSS GLOBAL ***
 *
 *  CSS:        NOME DO ARQUIVO: name.css 
 *              OS NOMES_DAS_CLASS SERAO COMUNS. 
 *              Ex: import 'name.css'
 *                  <div classeName="column"> => .column
 *
 *  CSS_MODULE: NOME DO ARQUIVO: name.module.css
 *              O PADRAO REACT DE NOMEAR CLASS É: COMPONENT_CLASS_RAND
 *              Ex: import styles from 'Layout.module.css'
 *                  <div classeName={styles.column}> => Layout_column_rthsk2 
*/

@import url('./vars.css');
@import url('./common');

/*Navegação por #: scroll animate*/
html {
    scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: var(--white);
  /*desativar click*/
  /* pointer-events: none;  */
}
a,a:hover{
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

