/* CREATE VARS: */
:root{
    /* COLORS */
    /* MAIN */
    --primary:#560bad;
    --secondary:#3498ff;
    --dark:#222233;
    --success:#6BECB9;
    --danger:#FC3638;
    --info:#63B3ED;
    --warning:#ffc107;
    --muted:#444858;
    --white:#FFFDFF;

    /* LIGHT */
    --light-primary: #7209b7;
    --light-dark:#2F3347;
    --light-white:#FDFEFF;    
    --light-gray: #e4e5e8;
    --light-gray2: #CACCCE;    
    --light-purple: #7a3bc4;
    /* DARK */
    --dark-purple: #693bbd;
    --dark-gray: #d5d6d9;
    --dark-gray2: #c8c9cc;
    
    /* OUTROS */
    --form-gray: #e9ecef;
    
    /* PLANOCHRISTUS */
    --pc-primary: #004BAC;
    --pc-blue: #63B3ED;
    --pc-light-blue: #D0DFEA;

    /* STATUS */
    --online: #63eb10;
    --offline: #FC3638;
}

