header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
}

/* FILHOS DIRETOS DO HEADER */
header > div{
    cursor: pointer;
    transition: 0.5s;
    padding: 6px 20px;
    text-align: right;
}
header > div:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.mainMenu{
    display: flex;
    flex-direction: row;
    color: inherit;
}
.primaryMenu{
    margin-right: 15px;
}
.userMenu{
    display: flex;
    align-items: center;
}
.userTitles span{    
    font-size: 1.2rem;
    margin-left: 10px;
}
.userSubtitle{
    display: block;
    margin-top: -1px;
    font-size: 14px;
    color: #000!important;
}
.userMenu img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 15px;
}



/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .userMenu{
        display: none!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
            
}