.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    background-color: var(--danger);
}

.title{
    font-size: 1.5rem;
}

.subtitle{
    font-size: 1.1rem;
}